
<!DOCTYPE html>
<html><head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <title>BigBlueButton - Open Source Web Conferencing</title>
    <meta name="description" content="BigBlueButton enables universities and colleges to deliver a high-quality learning experience to remote students.">
    <meta name="keywords" content="BigBlueButton, Open Source Web Conferencing, Distance Education, Courses Online, Web Conferencing, Open Source, Desktop Sharing, Video Conferencing, Video Collaboration, Presentation Sharing, Audio Sharing, Voice Collaboration, Public Chat, Webcam Sharing, Annotation, Whiteboard, Integrated Voice Over IP, Collaboration Software, Online Collaboration, Collaborative Learning, Virtual Classroom">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="icon" href="images/favicon.png">

    <link rel="stylesheet" href="/css/bijou.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/bbb-bootstrap.css">
    <style>.navbar { margin-bottom: 20px; }</style>
  </head>
  <body>
    <div class="main">

    <!-- Messages -->
    <div id="messages" class="hidden">
    </div>

    <!-- Header -->
    <div class="navbar">
      <div class="container">
        <div class="logo">
          <img alt="ulm.dev" src="/images/logo.png" width="80">
          <img src="/images/bbb-logo.png" alt="BigBlueButton" width="240">
        </div>
      </div>
    </div>

    <!-- Body -->
    <div class="container">





      <!-- Welcome Message & Login Into Demo -->
      <div class="row">
        <div class="span six html5clientOnly input-center">
          <div class="join-meeting ">
            <h4>Konferenzraum anlegen</h4>
            <p>(Wähle einen kurzen und originellen Raumnamen. Wer den Namen kennt, kann an der Konferenz teilnehmen)</p>
            <form method="POST" action="/b">
              <input type="text" id="room" required="" name="room" size="29" class="field input-default" autofocus="" placeholder="Konferenzraumnamen eingeben">
              <input type="submit" class="submit_btn button success large" value="Teilnehmen"><br>
            </form>

          </div>
        </div>
      </div>

      <hr class="featurette-divider">
      <!-- Welcome Message & Login Into Demo -->
      <div class="row">
       <div>
          
          
          
          <p> BigBlueButton funktioniert auf Rechnern/Laptops, die einen aktuellen Chrome-, FireFox- oder Edge-Browser installiert haben. Es muss keine Anwendung heruntergeladen oder installiert werden. BigBlueButton läuft auch auf Mobilgeräten in Safari Mobile (Standardbrowser) auf iOS ab Version 12.2, und im Chrome-Browser auf Android ab Version 6.0. BigBlueButton läuft ebenfalls auf Chromebooks mit dem Chrome-Browser. Bitte benutze ein Headset für optimale Tonqualität.</p>

	  <p> For more information visit our <a href="https://bigbluebutton.org/">website</a>, <a href="https://docs.bigbluebutton.org/">documentation</a>, and <a href="https://demo.bigbluebutton.org/">demo server</a>.</p>

        <div class="span one"></div>

      </div>




      

      <!-- BigBlueButton Features -->
      
      <hr class="featurette-divider">

      <!-- BigBlueButton Videos -->
      <div id="video" class="bbb-videos">
	      <div class="row">
	        <div class="featurette-heading">
	          <h2>Getting Started Quickly</h2>
	        </div>

	        <div class="span four first video-item">
	        	<a href="https://www.youtube.com/watch?v=uYYnryIM0Uw" target="_blank">
		        	<div class="video-btn"><i class="fa fa-play-circle-o"></i></div>
		          <img src="/images/bbb-viewer-overview.png" alt="BigBlueButton Viewer Overview Video">
	        	</a>
	          <h3><a href="https://www.youtube.com/watch?v=uYYnryIM0Uw;feature=youtu.be" title="Viewer Overview" target="_blank">Viewer Overview</a></h3>
	        </div>

	        <div class="span four video-item">
	        	<a href="https://www.youtube.com/watch?v=Q2tG2SS4gXA&amp;feature=youtu.be" target="_blank">
		        	<div class="video-btn"><i class="fa fa-play-circle-o"></i></div>
		          <img src="/images/bbb-presenter-overview.png" alt="Moderator/Presenter Overview Video">
	        	</a>
	          <h3><a href="https://www.youtube.com/watch?v=Q2tG2SS4gXA&amp;feature=youtu.be" title="Moderator/Presenter Overview" target="_blank">Moderator/Presenter Overview</a></h3>
	        </div>

	        <div class="span four last video-item">
	        	<a href="https://bigbluebutton.org/videos" target="_blank">
		        	<div class="video-btn"><i class="fa fa-play-circle-o"></i></div>
		          <img src="/images/blankoverview.png" alt="More videos">
	        	</a>
	          <h3><a href="https://bigbluebutton.org/videos" title="More Videos" target="_blank">More Videos</a></h3>
	        </div>
	      </div>
      </div>

      </div>
    </div>

    <!--  Footer -->
    <footer>
      <div class="container">

	      <div class="row">
	      	<div class="span six first">
		        <p>BigBlueButton and the BigBlueButton logo are trademarks of <a href="http://bigbluebutton.org/">BigBlueButton Inc.</a></p>
          </div>
	      	<div class="span six last">
	      	<p>Impressum:</p> 
					<p>Stadt Ulm<br>
						Rathaus<br>
						Marktplatz 1<br>
            89073 Ulm</p>

					<p>Zentrale Informationsstelle<br>
						Telefon: +49 (0)731 161-0<br>
						Fax: +49 (0)731 161-1613<br>
  					E-Mail: info@ulm.de</p>

					<p>Die Stadt Ulm ist eine Körperschaft des öffentlichen Rechts. Sie wird vertreten durch Oberbürgermeister Gunter Czisch.<br>
					</p></div>
	      </div> 


	      <div class="row">
	      	<div class="span twelve center">
		        <p>Copyright © 2020 BigBlueButton Inc.
		        </p>
	      	</div>
	      </div>
      </div>
    </footer>
  

</div></body></html>
